<hr />
<div class="wrapper">
<!--
first column (image only)
-->
<div class="c1"><img src="%smart_img%" />
</div>
<!--
second column
-->
<div class="c2">
    <div class="temp fontlarge" style="color:#%tempcol%">%Temperature%</div>
    <div class="feelslike fontsmall">fl %FeelsLike%</div>
    <div class="ss_text fontsmall">%ss_text%</div>
</div>
<!--
third column - wind
-->
<div class="c3">
    <div class="windspeed fontlarge">%WindSpeedMS%</div>
    <div class="windtext fontsmall">%WindSpeedUnit% %WindCompass8%</div>
    <img src="%wind_img%" />
</div>
<!--
fourth column - Precipitation
-->
<div class="c4">
    <div class="pop fontlarge" style="color:#%popcol%; font-weight:bold">%PoP%</div>
    <div class="pop fontsmall">%Precipitation1h%mm</div>
</div>
<!--
if string.len("%popbg%") > 2 then
   draw_box(tab,%offset%+4,width4,22,'%popbg%')
end
-- drawing text + backgroundbox + bar, alpha depends on PoP
precipmm=tonumber("%Precipitation1h%")
w = draw_text('',tab,%offset%+o_r2,'%font%',f_s,'%textcol%',precipmm*2+0.25)
draw_box(tab,%offset%+o_r2+f_s+1,w+1,7,'%textcol%',0.2)
draw_box(tab,%offset%+o_r2+f_s+2,precipmm*20,6,'%popcol%')
-->
<!--
last column: time and weekday
-->
<div class="c5">
    <div class="localtime fontlarge">%localtime%<br/>%day%</div>
</div>

</div> <!-- end wrapper -->
