<style>
* {
  box-sizing: border-box;
}
body {
    padding: 0 %padding_h%px;
    margin:0 0 0 0;
    color: #%textcol%;
    width: %width%px;
    background: #%bg%;
    font: 16px '%font%'
}
.fontsmall {
    font-size: 12px;
}
.fontlarge {
    font-size: 20px;
}
.localtime {
    font-weight: bold;
    opacity: 0.5;
    text-align:right;
    color:#%linecol%;
}
/* horizontal line */
hr {
    height:2px;
    border-width:0;
    background: #%linecol%;
    opacity: 0.5;
    margin:5px 0;
}
div.wrapper > * {
    float:left;
}
.header {
    font-weight: bold;
    padding: %padding_h%px 0;
}
/* Column# */
.c1,.c2,.c3,.c4 {
    padding-right: %padding_h%px;
}
.c1 img {
    width: %img_size_fc%px;
    height: %img_size_fc%px;
}
.c2 {
    width: 100px;
}
.c4 {
    width: 55px;
}
.c3,.c5 {
    width:60px;
}
.c5 {
}
/*------------CLEARFIX!----------------*/
.wrapper:before,.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper {
  *zoom: 1;
}
</style>
<body>
<div class="header">%name%</div>
